<div x-data="cartUi()">
    <button id="site-cart-trigger" type="button" aria-label="Open cart">
        <img src="./src/assets/basket.svg" width="50px" height="auto" />
        <span id="site-cart-count" x-show="$store.cart.count > 0" x-text="$store.cart.count"></span>
    </button>
    <dialog id="site-cart-dialog">
        <button id="site-cart-close" aria-label="Close cart"><img src="./src/assets/strawberry-close.svg" width="30px" height="auto" /></button>
        <h2>Your Cart</h2>
        <p x-show="$store.cart.items.length === 0">is empty.</p>
    
        <ul x-show="$store.cart.items.length > 0">
            <template x-for="item in $store.cart.items" :key="item.slug + '-' + item.variantLabel">
                <li>
                    <img :src="item.img[0]" :alt="item.title"/>
                    <span class="title" x-text="item.title"></span>
                    <span class="variant" x-text="item.variantLabel"></span>
                    <div class="price-wrap">
                        <span>Price: </span>
                        <span class="price" x-text="'$' + item.price"></span>
                    </div>
                    <fieldset>
                        <label>Qty:</label>
                        <input type="number" min="0" max="10" :value="item.quantity" @change="$store.cart.updateQuantity(item.slug, item.variantLabel, parseInt($event.target.value))" />
                    </fieldset>
                    <button aria-label="Remove item" type="button" @click="$store.cart.removeItem(item.slug, item.variantLabel)"><img src="./src/assets/strawberry-close.svg" width="20px" height="auto" /></button>
                </li>
            </template>
        </ul>
        <p id="subtotal" x-show="$store.cart.items.length > 0">
            Subtotal: <span x-text="'$' + $store.cart.subtotal.toFixed(2)"></span>
        </p>

        <p x-show="error" x-text="error" class="cart-error"></p>

        <button type="button" x-show="$store.cart.items.length > 0" :disabled="checkingOut" @click="checkout()" class="button">
            <span x-show="!checkingOut">Checkout</span>
            <span x-show="checkingOut">Redirecting to checkout&hellip;</span>
        </button>
    </dialog>
</div>