@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');
:root {
    /* COLORS */
    --primary-pink: #FFB7CB;
    --primary-blue: #75C4ED;
    --primary-purple: #5A5E9B;
    --pastle-purple: #F6CBF8;
    --pastle-green: #CBF7D6;
    --pastle-cyan: #CAF7F0;
    --text-color: var(--primary-purple);

    /* FONTS */
    --title-font: "Cormorant Garamond", serif;
    --body-font: Arial, Helvetica, sans-serif;

    /* SPACING */
    --xtra-small:1rem;
    --small: 2rem;
    --medium: 4rem;
    --large: 8rem;
    --top-padding_mobile: 100px;
    --top-padding: 70px;

    --transition: 300ms;
}

@view-transition {
  navigation: auto;
}
::view-transition-old(root) {
  animation: fade-out var(--transition) ease both;
}

::view-transition-new(root) {
  animation: slide-fade-in var(--transition) ease both;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* TYPOGRAPHY */
h1,
h2,
h3,
h4 {
    font-family: var(--title-font);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--text-color);
    line-height: 1.25;
    text-align: center;
    filter: drop-shadow(3px 3px 0 white);
    text-transform: uppercase;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 4rem;
}
h3,
h4 {
    font-size: 2rem;
}
p {
    font-family: var(--body-font);
    font-size: 1.25rem;
    line-height: 1.5;
    width: 60ch;
    text-align: center;
    margin: auto;
}
hr {
    border: 2px solid white;
    width: 16em;
    margin: 5rem auto;
}
.button {
    font-family: var(--body-font);
    font-size: 1.5rem;
    padding: var(--xtra-small);
    border: 5px solid white;
    border-radius: 12px;
    color: white;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    transition: all 300ms;
    &:hover {
        color: var(--primary-purple);
        border-color: var(--primary-purple)
    }
}

input,
select {
    border: 3px solid var(--primary-pink);
    border-radius: 6px;
    /* height: 36px; */
    width: fit-content;
    font-size: 1.5rem;
    color: var(--primary-purple)
}

.hidden {
    display: none !important;
}
.falling-star {
    position: absolute;
    pointer-events: none;
    fill: white;
    filter: drop-shadow(3px 3px 0 var(--primary-purple));
}

@scope(.text-page) {
    :scope {
        padding: 70px var(--small);
    }
    h1 {
        font-size: var(--medium);
    }
    h2 {
        font-size: 1.5rem;
        width: 60ch;
        margin: var(--small) auto;
        filter: none;
    }
    p,
    li {
        text-align: start;
    }
    li {
        list-style: disc;
        font-family: var(--body-font);
        font-size: 1.5rem;
        margin: 1rem auto;
    }
    a {
        font-size: 1.5rem;
        color: var(--text-color);
        margin: var(--medium);
        display: block;
        filter: drop-shadow(0 0 0 white);
        transition: filter var(--transition) ease;
        &:hover {
            filter: drop-shadow(3px 3px 0 white);
        }
    }
}
@scope(footer) {
    :scope {
        display: flex;
        flex-flow: row wrap;
        max-width: 100%;
    }
    h2 {
        font-size: var(--small);
    }
    .contact,
    .collections,
    .terms {
        width: 90%;
        margin: 1rem auto;
        @media (width > 500px) {
            margin: 0 auto;
            width: 33%;
        }
    }
    p {
        width: 100%;
    }
    a {
        font-size: 1.5rem;
        font-family: var(--body-font);
        color: var(--text-color);
        margin: var(--medium) auto;
        display: block;
        filter: drop-shadow(0 0 0 white);
        transition: filter var(--transition) ease;
        &:hover {
            filter: drop-shadow(3px 3px 0 white);
        }
    }
    #social-media {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1rem;
        a {
            margin: var(--medium) 0 var(--small) 0;
        }
    }
}