@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');
:root {
    /* COLORS */
    --primary-pink: #FFB7CB;
    --primary-blue: #75C4ED;
    --primary-purple: #5A5E9B;
    --pastle-purple: #F6CBF8;
    --pastle-green: #CBF7D6;
    --pastle-cyan: #CAF7F0;
    --text-color: var(--primary-purple);

    /* FONTS */
    --title-font: "Cormorant Garamond", serif;
    --body-font: Arial, Helvetica, sans-serif;
    /* SPACING */
    --xtra-small:1rem;
    --small: 2rem;
    --medium: 4rem;
    --large: 8rem;
}

body {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-row: repeat(3, auto);
    color: var(--text-color);
    background: var(--primary-pink);
    text-align: center;
    overflow: clip;
}
/* TYPOGRAPHY */
h1,
h2,
h3,
h4 {
    font-family: var(--title-font);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--text-color);
    line-height: 1.25;
    text-align: center;
    filter: drop-shadow(3px 3px 0 white);
    text-transform: uppercase;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 4rem;
}
h3,
h4 {
    font-size: 2rem;
}
p {
    font-family: var(--body-font);
    font-size: 1rem;
    line-height: 1.5;
    width: 60ch;
}
hr {
    border: 2px solid white;
    width: 16em;
    margin: 5rem auto;
}
button {
    background: transparent;
    border: 5px solid white;
    border-radius: 12px;
    color: white;
    font-size: 2rem;
    padding: var(--xtra-small);
}
nav {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    li {
        padding: 1.5rem;
        &:hover {
            cursor: pointer;
            a {
                text-decoration-color: #ffffff;
            }
        }
        a {
            font-family: var(--body-font);
            font-size: 2rem;
            color: white;
            text-decoration-color: #FFFFFF00;
        }
    }
}
.container {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
header,
main > section:not(#shop),
#shop > div,
footer {
    padding: var(--medium);
    filter: drop-shadow(0 4px 15px #00000038)
}
header {
    background-image: url(../assets/tarot-spread.jpg);
    p {
        font-size: var(--small);
        font-weight: bold;
        color: white;
        filter: drop-shadow(3px 3px 0 var(--primary-purple));
    }
}
main {
    background: var(--pastle-purple);
}
.position1{
    background: var(--primary-pink);
}
.position2{
    background: var(--primary-purple);
    h2,
    p {
        color: white;
    }
    h2 {
        filter: drop-shadow(3px 3px 0 black);
    }
}
#products{
    background: var(--primary-blue);
    .product-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
        grid-auto-rows: auto;
        a.product {
            max-width: 300px;
            height: auto;
        }
    }
}
#upcoming-projects{
    background: var(--pastle-cyan);
}
#contact{
    background: var(--pastle-green);
}